<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
      <h3 class="mt-4"><strong>会員情報編集</strong></h3>

      <%= form_with model: @customer, url: public_customer_path, method: :patch do |f| %>

      <div class="mb-3">
        <div class="row">
          <div class="col">
            <%= f.label :last_name, "姓" %>
            <%= f.text_field :last_name, class:"form-control", autofocus: true, autocomplete: "family-name" %>
          </div>
          <div class="col">
            <%= f.label :first_name, "名" %>
            <%= f.text_field :first_name, class:"form-control", autofocus: true, autocomplete: "given-name" %>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="row">
          <div class="col">
            <%= f.label :last_name_kana, "セイ" %>
            <%= f.text_field :last_name_kana, class:"form-control" %>
          </div>
          <div class="col">
            <%= f.label :first_name_kana, "メイ" %>
            <%= f.text_field :first_name_kana, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
        <%= f.text_field :postcode, class:"form-control", autocomplete: "postal-code" %>
      </div>

      <div class="mb-3">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :phone_number, "電話番号（ハイフンなし）" %>
        <%= f.text_field :phone_number, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class:"form-control", autocomplete: "email" %>
      </div>

      <div class="mb-3">
          <%= f.submit "編集内容を保存", class:"btn btn-success btn-block" %>
      </div>

      <div class="mb-3">
          <%= link_to "退会する", public_unsubscribe_path, class:"btn btn-outline-danger btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>