<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
      <h2 class="mt-4"><strong>商品一覧</strong></h2><br>

        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <tbody>
             <% @items.each do |item| %>
               <tr>
                  <td><%= item.id %> </td>
                  <td><%= link_to item.name, admin_item_path(item) %> </td>
                  <td><%= item.price %> </td>
                  <td><%= item.genre.name %></td>
                  <% if item.is_active == true %>
                  <td>販売中</td>
                  <% else %>
                  <td>販売停止中</td>
                  <% end %>
                </tr>
             <% end %>
          </tbody>
        </table>

        <div class="mb-3">
          <%= link_to "商品新規登録", new_admin_item_path, class:"btn btn-success btn-block" %>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-center  mt-5 ">
            <p><%= paginate @items %></p>
          </div>
        </div>
    </div>
  </div>
</div>







