<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
      <h2 class="mt-4"><strong>商品新規登録</strong></h2>

　　<%= form_with model: @item, url: admin_items_path, method: :post , local: true do |f| %>
      <div class="mb-3">
        <%#= image_tag item.customer.get_profile_image %>
        <%= f.label :image, "商品画像" %>
        <%= f.file_field :image, accept: "image/*", class:"form-control-file" %>
      </div>

      <div class="mb-3">
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name, class:"form-control", placeholder: "商品名" %>
      </div>

      <div class="mb-3">
        <%= f.label :introduction, "商品説明" %>
        <%= f.text_area :introduction, class:"form-control", placeholder: "商品説明" %>
      </div>

      <div class="mb-3">
        <%= f.label :genre, "ジャンル　　" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => true, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :price, "税抜価格（円）" %><br />
        <%= f.text_field :price, class:"form-control", placeholder: "1000" %>
      </div>

      <div class="mb-3">
        <%#= @item.add_tax_price.to_s(:dalimited) %>
        <%= f.label :is_active, "販売ステータス　　" %>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中　　" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中" %>
      </div>

      <div class="mb-3">
          <%= f.submit "新規登録", class:"btn btn-success btn-block" %>
      </div>
     <% end %>
    </div>
  </div>
</div>