<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-10'>
      <h2 class="mt-4"><strong>商品詳細</strong></h2><br>
    </div>
  </div>

      <div class="row">
        <div class="col-4 offset-1 text-center">
          <%= image_tag @item.image, size: "250x250", class:"card-img-top" %><br>
        </div>

        <div class="col-6 offset-1">
        <table class="table mb-4">
          <tbody>
            <tr>
              <th>商品名</th>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <th>商品説明</th>
              <td><%= @item.introduction %></td>
            </tr>
              <th>ジャンル</th>
              <td><%= @item.genre.name %></td>
            <tr>
              <th>税込価格<br>
                  (税抜価格)
              </th>
              <td><%= @item.price %>円<br>(<%= @item.add_tax_on_price.to_s(:delimited) %>円)
              </td
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td>
                <% if @item.is_active == true %>
                  <span class="text-success" ><strong>販売中</strong></span>
                <% else %>
                  <span class="text-danger" ><strong>販売停止中</strong></span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

      <div class="row">
        <div class="col-8 offset-5 text-center mb-5">
          <%= link_to "編集する", edit_admin_item_path, class:"btn btn-success d-grid gap-2 col-6 mx-auto" %></td>
        </div>
      </div>
</div>









































