<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
    <h3 class="mt-4"><strong>管理者ログイン</strong></h3><br>

      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>


        <div class="mb-3">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
        </div><br>

        <div class="mb-3">
          <%= f.submit "ログイン", class:"btn btn-outline-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br>
