
<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
          Welcome to Nagano Cake!<br>
          This site is an EC site for cake sales.<br>
          Everybody can see products,<br>
          but need a registratin for purchase.
        </p>
    </div>
</div>

<div class="container">
  <div class="row mt-3 mb-3">
    <h1><strong>New Cakes</strong></h1>
  </div>

  <div class="row">
    <% @item.each do |item| %>
      <div class="col-4">
        <div class="card">
          <%= link_to public_item_path(item), class:"card-body" do %>
            <%= image_tag item.image, size: "250x250", class:"card-img-top" %><br>
          <% end %>
          <div class="card-body">
            <strong><%= item.name%></strong><br>
            <strong><%= item.add_tax_on_price.to_s(:delimited) %>円</strong>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-4 row mt-3 mb-3">
      <p><%= link_to "全ての商品を見る>", public_items_path %></p>
    </div>
  </div>
