<main class= "mb-auto">
    <div class= "container">
        <div class="row">
            <div class= "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
                <h3 class= "mt-4">
                    会員一覧
                </h3>
                </br>
                <table class= "table table-hover table-inveerse">
                    <thead>
                        <tr>
                            <th>会員ID</th>
                            <th>氏名</th>
                            <th>メールアドレス</th>
                            <th> ステータス</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @customers.each do |customer| %>
                        <tr>
                            <td><%= customer.id %></td>
                            <td>
                                <%= link_to  admin_customer_path(customer.id) do %>
                                <%= customer.first_name %><%= customer.last_name %>
                                <% end %>
                            </td>
                            <td><%= customer.email %></td>
                            <td>
                                <% if customer.is_deleted == true %>
                                退会
                                <% else %>
                                有効
                                <% end %>
                            </td>

                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>



