<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <h3 class="mt-4"><strong>配送先編集</strong></h3><br>
      <%= form_with model: @delivery, url: public_delivery_path(@delivery), method: :patch, local:true do |f| %>

        <div class="mb-3">
          <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
          <%= f.text_field :postcode, class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :name, "宛名" %>
          <%= f.text_field :name, class:"form-control" %>
        </div><br>
        <div class="mb-3">
          <%= f.submit "変更内容を保存", class:"btn btn-outline-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div><br><br><br><br><br><br><br><br>









