<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <h3 class="mt-4"><strong>配送先登録 / 一覧</strong></h3><br>
      <%= form_with model: @delivery, url: public_deliveries_path, local: true do |f| %>

        <div class="mb-3">
          <label for="postcode" class="form-label">郵便番号（ハイフンなし）</label>
          <input type="text" class="form-control" id="postcode" placeholder="000000">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">住所</label>
          <input type="text" class="form-control" id="address" placeholder="東京都渋谷区代々木神園町0-0">
        </div>
        <div class="mb-3">
          <label for="addresses" class="form-label">宛名</label>
          <input type="text" class="form-control" id="addresses" placeholder="令和道子">
        </div>
        <div class="mb-3">
          <%= f.submit "新規登録", class:"btn btn-outline-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
    <table class="table">
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% @deliveries.each do |delivery| %>
        <tbody>
          <tr>
            <th scope="row">〒<%= delivery.postcode %></th>
            <td><%= delivery.address %></td>
            <td><%= delivery.address_name %>様</td>
            <td><%= link_to "編集する", edit_public_delivery_path(delivery) %></td>
            <td><%= link_to "消去する", public_delivery_path(delivery), method: :delete %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
