<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-12'>
     <h2 class="mt-4"><strong>注文履歴詳細</strong></h2><br>

      <table class='table table-hover table-inverse' >
        <tbody>
          <tr>
            <th>購入者</th>
            <td><%= @order.customer.full_name %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: [:admin, @order], method: :patch do |f| %>
               <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>　　<%= f.submit "更新", class:"btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class='mx-auto col-lg-8'>
      <table class='table table-hover table-inverse' >
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.add_tax_on_price.to_s(:delimited) %></td>
              <td><%= order_detail.quantity %></td>
              <td><%= order_detail.subtotal %></td>
              <td>
                <%= form_with model: [:admin, order_detail], method: :patch do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.orderdetail.making_status.#{k}"), k]} %>
                  　　<%= f.submit "更新", class:"btn btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='mx-auto col-lg-4'>
      <table class='table under'>
        <tr>
          <th>商品合計</th>
          <td><%= @total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>請求合計金額</th>
          <td><%= @order.total_payment.to_s(:delimited) %></</td>
        </tr>
      </table>
  </div>
</div>