<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
      <h2 class="mt-4"><strong>ジャンル一覧・追加</strong></h2><br>

        <% if @genre.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h3>
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <div class="mb-3">
          <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
            <%= f.label :name, "ジャンル名" %>
            <%= f.text_field :name, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= f.submit "新規登録", class:"btn btn-success btn-block" %>
          <% end %>
        </div>


        <div class="mb-3">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>ジャンル</th>
                <th colspan="3"></th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @genres.each do |genre| %>
                <thead>
                  <tr>
                    <td><%= genre.name %></td>
                    <td><%= link_to edit_admin_genre_path(genre) do %>
                    <div class="btn btn-success">編集する</div></td>
                    <% end %>
                  </tr>
                </thead>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

</table>