<div class="container">

  <div class="row mt-5">
    <div class="col-xl-10 mb-4">
      <h4><strong>ショッピングカート</strong></h4>
    </div>
    <div class="col-xl-2 text-right">
      <%= link_to "カートを空にする", destroy_all_public_cart_items_path, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

  <div class="row">
    <table class='table table-bordered'>
      <thead class="table-secondary">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if current_customer.cart_items.present? %>
          <% @cart_items.each do |cart_item| %>
          <% @total += cart_item.subtotal %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size:'50x50' %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.add_tax_on_price.to_s(:delimited) %></td>
              <td>
                <%= form_with model: cart_item, url: public_cart_item_path(cart_item), local: true, method: :patch do |f| %>
                  <%= f.select :quantity, [["1個",1],["2個",2],["3個",3],["4個",4],["5個",5],["6個",6],["7個",7],["8個",8],["9個",9]] %>
                  <%= f.submit "　変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td>
                <%= cart_item.subtotal.to_s(:delimited) %>
              </td>
              <td><%= link_to '削除する', public_cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-xl-6 mt-4">
      <%= link_to '買い物を続ける', public_items_path, class: "btn btn-primary" %>
    </div>
    <div class="col-xl-6 mt-4">
      <table class='table table-bordered'>
        <tr>
          <th class="table-secondary">合計金額</th>
          <td>
            <%= @total.to_s(:delimited) %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="text-center mb-3 mt-5">
    <%= link_to '入力情報に進む', new_public_order_path, class: "btn btn-success" %>
  </div>

</div><br><br><br><br><br><br><br><br><br><br><br><br>