<div class="container">
  <div class="row mt-4">
    <div class="col-xl-10">
      <h2 class="mb-5"><strong>注文情報確認</strong></h2>
    </div>
      <div class="col-8">
        <table class="table table-bordered mb-5">
          <thead>
            <tr class="table-secondary">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
          <% @cart_items.each do |cart_item| %>
          <% @total += cart_item.subtotal %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size:'50x50' %>
                　　<%= cart_item.item.name %>
              </td>
             <td><%= cart_item.item.add_tax_on_price.to_s(:delimited) %>円</td>
              <td>
                <%= cart_item.quantity %>
              </td>
              <td>
                <%= cart_item.subtotal.to_s(:delimited) %>円
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <table class="table table-bordered">
          <tr>
            <th class="table-secondary">送料</th>
            <td><%= @order.shipping_cost.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="table-secondary">商品合計</th>
            <td><%= @total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="table-secondary">請求金額</th>
            <td><%= (@total + @order.shipping_cost).to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
  </div>

    <div class="mb-5">
      <h5><strong>支払方法</strong>　<%= @order.payment_method_i18n %></h5>
    </div>

    <div class="mb-5">
      <h5><strong>お届け先</strong>　<%= "〒" + @order.postcode + " " + @order.address + " " + @order.name %></h5>
    </div>

    <div class="text-center mb-5">
      <%= form_with model: @order, url: public_orders_path, local: true, method: :post do |f| %>
       <%= f.submit "注文を確定", class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
</div><br><br><br><br>
