<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-7'>
      <h2 class="mt-4"><strong>注文情報入力</strong></h2><br>

      <%= form_with model: @order, url: public_confirm_path , method: :post do |f| %>
        <h4 class="my-3 ml-3"><strong>支払方法</strong></h4>
        <div class="col-5 ml-2">
          <%= f.radio_button :payment_method, :credit_card %>　<%= f.label :payment_method, "クレジットカード" %><br>
          <%= f.radio_button :payment_method, :transfer %>　<%= f.label :payment_method, "銀行振込" %>
        </div>

        <h4 class="my-3 ml-3"><strong>お届け先</strong></h4>
        <div class="col-5 ml-2">
          <%= f.radio_button :address_select, 0, checked: true %>
          <%= f.label :address_select, "　ご自身の住所" %> <br>
          <span class="ml-3"><%= "〒" + current_customer.postcode + " " + current_customer.address %></span><br>
          <span class="ml-3"><%= current_customer.last_name + current_customer.first_name %></span>
        </div>
        <div class="col-6 ml-2">
          <%= f.radio_button :address_select, 0, checked: true %>
          <%= f.label :address_select, "　登録済み住所から選択" %> <br>
          <!--<span class="ml-3">%= "〒" + current_customer.postcode + " " + current_customer.address %></span><br>-->
          <!--<span class="ml-3">%= current_customer.last_name + current_customer.first_name %></span>-->
        </div>
        <div class="col-5 ml-2">
          <%= f.radio_button :address_select, 0, checked: true %>
          <%= f.label :address_select, "　新しいお届け先" %> <br>
        </div>

        <div class="row">
          <div class="col-5 ml-5 mb-3">
            <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
          </div>
          <div class="col">
            <%= f.text_field :postcode, class:"form-control", autocomplete: "postal-code", placeholder: "000000" %>
          </div>
        </div>

        <div class="row">
          <div class="col-5 ml-5 mb-3">
            <%= f.label :address, "住所" %>
          </div>
          <div class="col">
            <%= f.text_field :address, class:"form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
          </div>
        </div>

        <div class="row">
          <div class="col-5 ml-5 mb-3">
            <%= f.label :address, "宛名" %>
          </div>
          <div class="col">
            <%= f.text_field :name, class:"form-control", placeholder: "令和道子" %>
          </div>
        </div><br>

        <div class="mb-3">
          <%= f.submit "確認画面", class:"btn btn-primary btn-block" %>
        </div><br>

      <% end %>
    </div>
  </div>
</div>
