<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <h3 class="mt-4"><strong>商品一覧</strong> (全 <%= @total_items %> 件)</h3><br>
    </div>
  </div>

      <table class='table table-hover table-inverse'>
        <tbody>
          <% @items.each do |item| %>
            <%= link_to public_item_path(item), class: "card-img-top" do %>
              <%= image_tag item.get_image(300,300), class:"card-img-top", alt:"Card image cap", style:"height:150px; width:auto; object-fit: cover" %>
            <% end %>
              <%= item.name%><br>
              <p><%= item.after_tax_on_price.round %>円</p>
          <% end %>
        </tbody>
      </table>

  <div class="row">
    <div class="col-12 d-flex justify-content-center  mt-5 ">
      <%= paginate @items %>
    </div>
  </div>