<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-10'>
      <h2 class="mt-4"></h2><br><br><br>
    </div>
  </div>

      <div class="row">
        <div class="col-4 offset-1 text-center mt-4" >
          <%= image_tag @item.get_image(250,250), class:"card-img-top" %><br>
        </div>

        <div class="col-6 offset-1">
        <table>
          <tbody>
            <tr>
              <h1><strong><%= @item.name %></strong></h1>
            </tr>
            <tr>
              <td><%= @item.introduction %></td>
            </tr><br>
            <tr>
              <td><strong>￥<%= @item.add_tax_on_price.to_s(:delimited) %> (税込)</strong></td>
            </tr><br>
            <tr>
              <td>
                <% if customer_signed_in? %>
                <% if @item.is_active == true %>

                <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
                  <%= f.select :quantity, [["個数選択"],["1個",1],["2個",2],["3個",3],["4個",4],["5個",5],["6個",6],["7個",7],["8個",8],["9個",9]], class:"form-select" %><br>
                  <%= f.hidden_field :item_id, :value => @item.id %><br>
                  <%= f.submit "カートに入れる", class:"btn btn-success" %>
                <% end %>
                <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>


