<!DOCTYPE html>
<html>
  <head>
    <title>Nagano Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark color" >
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="float-left header-logo">
            <%= link_to root_path do %>
            <%= image_tag('nagano_cake1.png') %>
            <% end %>
          </div>
          <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>

            <nav class="nav navbar-nav text-white mt-1 mr-5">
              <span class="customer-name">
              ようこそ、<%= current_customer.full_name %>さん！
              </span>
             </nav>

              <li>
                <%= link_to "マイページ", public_customer_path(current_customer), class: "btn btn-outline-light mr-4" %>
              </li>

              <li>
                <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-light mr-4" %>
              </li>

              <li>
                <%= link_to "カート", public_cart_items_path(current_customer), class: "btn btn-outline-light mr-4" %>
              </li>

              <li>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-light mr-2" %>
              </li>

          <% elsif admin_signed_in? %>

           <li>
             <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light mr-2" %>
           </li>

          <% else %>
           <li>
             <%= link_to "About", public_about_path, class: "btn btn-outline-light mr-4" %>
           </li>
           <li>
             <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-light mr-4" %>
           </li>
           <li>
             <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-light mr-4" %>
           </li>
           <li>
             <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-light mr-2" %>
           </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>

    <footer class="color text-light pt-3 pb-1">
        <p class="text-center"> © nagano cake 2022</p>
    </footer>
  </body>
</html>